
.btn-log {
    background-color:red;
    border: none;   
    color: white; 
    font-size: small;
    text-align: center;
   }
   .d-flex align-items-center {
       padding-top: 100px;
   }
   .sweet-alert{ width: 6px; }
   