 /*  .table {
  width: 180%;
  }
  .table th{
  text-transform: capitalize;
  } */
  b {
  text-transform: capitalize;
  }
 
  .btn{
    background-color:red; 
    margin-left: 30%;
    width: 100%;
    color: white;
    font-size: small;
    text-align: center;
    padding: 8px 22px;
  }
  .btn-download{
    background-color:red; 
    color: white;
    border: none;
    width: 13%;
    font-size: 1.1vw;
    padding: 5px 10px;
  }
 .alert {
  width: 100%;
 }
 .mat-form-field {
  vertical-align: middle;
  margin: 15px 10px 5px 10px;
  padding: 10px;
  padding-left: 10px;
  width: 20%; 
}
th {
  font-size: 12px;
  font-weight: bold;
  //text-align: center;
  text-transform: capitalize;

}
td {
  font-size: 10px;
  //text-align: justify;
  padding: 20px
}
.mat-form-field {
  font-size: 12px;
 // width: 100%;
}
.example-containers {
  //height: 500px;
  overflow: auto;
}
.mat-table{
  width: 150%;

}
.select_biller{
  margin-left: 30px;
}
.generate_button{
 
  /*  margin-right: 20%;
   margin-top: 3%;
   height: 4%; */
   position: relative;
   bottom: 5px;
   height: 40px;
 }
