<div class="col-lg-12 grid-margin stretch-card">

    <div class="card">
        <form [formGroup]="form">
        <div class="formmm">
            <h4>update one biller due date by created date</h4>
            <mat-form-field appearance="outline">
                <mat-label>Select biller</mat-label>
                <mat-select [(ngModel)]="biller_id" formControlName="biller_id" id="biller_id">
                    <mat-option *ngFor="let biller of billers" [value]="biller.stakeholder_id">{{biller.short_name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="hasError('biller_id', 'required')">biller id is required</mat-error> 
            </mat-form-field>
            <mat-form-field [floatLabel]="'auto'" appearance="outline">
                <mat-label>Created Date</mat-label>
                <input matInput  type="text" formControlName="createdDate" [(ngModel)]="createdDate" placeholder="2020-01-29T12:45:24.900Z" required>
              <!--   <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker> -->
                <mat-error *ngIf="hasError('createdDate', 'required')">created date is required</mat-error> 
            </mat-form-field>
           
            <mat-form-field appearance="outline" [color]="warn">
                <mat-label>Bill due date</mat-label>
                <input matInput [matDatepicker]="pick" formControlName="bill_due_dt" [(ngModel)]="bill_due_dt">
                <mat-datepicker-toggle matSuffix [for]="pick"></mat-datepicker-toggle>
                <mat-datepicker #pick></mat-datepicker>
                <mat-error *ngIf="hasError('bill_due_dt', 'required')">bill due date is required</mat-error> 
            </mat-form-field>
        </div>

        <button style="background-color:  #ff6b6b; color: white;" class="Generate" mat-raised-button color="warn" type="submit" (click)="UpdateOneBiller()" [disabled]="!form.valid">Update</button>
    </form>
    </div>
</div>
