/* You can add global styles to this file, and also import other style files */

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "./assets/scss/variables";
@import "compass-mixins/lib/compass";
@import "compass-mixins/lib/animate";
@import "bootstrap/scss/bootstrap";
@import "./assets/scss/fonts";
@import "./assets/scss/functions";
@import "~@angular/material/core/theming";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

$mat-myapp-primary: (
  50: #fbeded,
  100: #f6d1d1,
  200: #f0b3b3,
  300: #e99494,
  400: #e57d7d,
  500: #e06666,
  600: #dc5e5e,
  700: #d85353,
  800: #d34949,
  900: #cb3838,
  A100: #ffffff,
  A200: #ffe2e2,
  A400: #ffafaf,
  A700: #ff9696,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$mat-myapp-accent: (
  50: #fffaed,
  100: #fff4d1,
  200: #ffecb3,
  300: #ffe494,
  400: #ffdf7d,
  500: #ffd966,
  600: #ffd55e,
  700: #ffcf53,
  800: #ffca49,
  900: #ffc038,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fff5e1,
  A700: #ffedc8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
/* === Icon fonts === */
@import "~@mdi/font/scss/materialdesignicons";

/* === Template mixins === */
@import "./assets/scss/mixins/animation";
@import "./assets/scss/mixins/badges";
@import "./assets/scss/mixins/buttons";
@import "./assets/scss/mixins/misc";
@import "./assets/scss/mixins/color-functions";
@import "./assets/scss/mixins/cards";
@import "./assets/scss/mixins/blockqoute";
@import "./assets/scss/mixins/popovers";
@import "./assets/scss/mixins/tooltips";

/* === Core Styles === */
@import "./assets/scss/background";
@import "./assets/scss/typography";
@import "./assets/scss/reset";
@import "./assets/scss/responsive";
@import "./assets/scss/misc";
@import "./assets/scss/utilities";
@import "./assets/scss/demo";
@import "./assets/scss/spinner";

/* === Components === */
@import "./assets/scss/components/forms";
@import "./assets/scss/components/checkbox-radio";
@import "./assets/scss/components/icons";
@import "./assets/scss/components/tables";
@import "./assets/scss/components/accordions";
@import "./assets/scss/components/buttons";
@import "./assets/scss/components/breadcrumbs";
@import "./assets/scss/components/badges";
@import "./assets/scss/components/cards";
@import "./assets/scss/components/preview";
@import "./assets/scss/components/tooltips";
@import "./assets/scss/components/popovers";
@import "./assets/scss/components/lists";
@import "./assets/scss/components/bootstrap-progress";
@import "./assets/scss/components/bootstrap-alerts";
@import "./assets/scss/components/tabs";
@import "./assets/scss/components/dropdowns";
@import "./assets/scss/components/date-picker";
@import "./assets/scss/components/pagination";
@import "./assets/scss/components/portfolio";
@import "./assets/scss/components/todo-list";

@import "./assets/scss/components/landing-screens/auth";

/* === Layout === */
@import "./assets/scss/layout";
