
.container {
    padding-left: 8%;
}
b{
  text-transform: capitalize;
}

.btn{
    background-color:red; 
    margin-left: 13%;
    width: 10%;
    color: white;
    font-size: small;
    text-align: center;
    padding: 8px 22px;
  }
  .ss1, input, select {
   width: 143%;
 }
/*  :host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */
.formmm{
  margin-top: 40px;
  flex-direction: column;
  display: flex;
  flex-direction: column;
 // align-items: flex-start;
 
}
 h4{
   margin-left: 21%;
   text-transform: capitalize;
   margin-bottom: 20px;
 }
.mat-form-field {
  width: 30%;
  margin-left: 20%;
  vertical-align: middle;
  padding: 1px;
  padding-left: 10px;
  font-size: 12px;
 
}
.mat-raised-button{
  width: 20%;
  margin-left: 21%;
  margin-bottom: 20px;
}
